---
import { Waves } from "./ui/wave-background.tsx";
---

<div class="absolute inset-0 z-0" style="filter: blur(30px);">
  <Waves 
    client:load
    strokeColor="#673de6"
    backgroundColor="transparent"
    pointerSize={0.3}
  />
</div>
